name: {{ name }}
version: "1.0"
{% if base_config %}
base_config: {{ base_config | pystr }}
{% endif -%}
{% if description %}
description: {{ description | pystr }}
{% endif %}
system_prompt_file: prompts/system.md

controller:
  reasoning_effort: high
{%- if model %}
  llm: {{ model | pystr }}
{%- endif %}

tools:{{ tools | yaml_list }}

subagents:{{ subagents | yaml_list }}

output:
  type: stdout
  controller_direct: true
