"""
{{ description }}
"""

{{ import_block }}


class {{ class_name }}(BaseInputModule):
    """Input module: {{ name }}."""

    def __init__(self, **options: Any):
        super().__init__()
        self.options = options

    async def get_input(self) -> TriggerEvent | None:
{{ body | trim | indent(8, True) }}
