"""
{{ description }}
"""

from kohakuterrarium.modules.subagent.config import SubAgentConfig

{{ system_prompt_var }} = {{ system_prompt | pystr }}

{{ config_var }} = SubAgentConfig(
    name={{ name | pystr }},
    description={{ description | pystr }},
    tools={{ tools | pyrepr(4) }},
    system_prompt={{ system_prompt_var }},
    can_modify={{ can_modify }},
    stateless={{ stateless }},
{%- if interactive %}
    interactive=True,
{%- endif %}
{%- if model %}
    model={{ model | pystr }},
{%- endif %}
)
